
* {
   font-family: Raleway;
}

.body-int{
    width: 1145px;
    margin: auto;
    padding: 0 30px 0 30px;
    box-shadow: 0 0 1em  rgb(201, 197, 197);
}

nav {
    text-align: center;
    background-color: #fff;
    padding-top: 20px;
}

nav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #4a6da7;
    color: white;
}

h1{
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
    font-size: 50px;
}

p{
    font-size: 20px;
}

.inf-final{
    text-align: right;
}

footer{
    text-align: center;
    font-size: 15px;
}
